on:
  push:
    branches:
      - master
    paths-ignore:
      - README.md

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup OpenJDK
        run: sudo apt install -yq openjdk-21-jdk

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew assembleRelease

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: wear-release.apk
          path: wear/build/outputs/apk/release/wear-release.apk
